@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --product-gradient: linear-gradient(135deg, #FFB74D 0%, #FFA726 100%);
}

html,
body {
  background: var(--product-gradient);
  transition: background 0.8s ease;
  scroll-behavior: smooth;
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::selection {
  background-color: #f97316; /* bg-orange-500 */
  color: white;
}
