@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --product-gradient: linear-gradient(135deg, #FFB74D 0%, #FFA726 100%);
}

html,
body {
  background: var(--product-gradient);
  transition: background 0.8s ease;
  scroll-behavior: smooth;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: #f97316;
  color: white;
}
